/.project
/.pydevproject
/.settings/
/.pytest_cache/
/.cache/
/.tox/
/.virtualenv/
/tmp_*/
/*.egg-info/
/build/
/build_doc/
/dist/
/packaging/*/*.tar.gz
/packaging/*/*.done
/try/
.ipynb_checkpoints/
/*.done
*.pyc
*.pyo
*.log
*.tmp
tmp.*
*~
.*~
*.py,cover
.coverage
/coverage_html/
MANIFEST
MANIFEST.in
cprofilerstats*.profile
.DS_Store
